<!DOCTYPE html>
<html ng-app="ContactsApp">
<head>
  <title>FrontendLib</title>
  <%= stylesheet_link_tag   '//cdnjs.cloudflare.com/ajax/libs/toastr.js/1.3.1/css/toastr.css' %>
  <%= stylesheet_link_tag    'application', :media => 'all' %>

  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'angular' %>
  <%= javascript_include_tag 'angular-resource' %>
  <%= javascript_include_tag 'underscore' %>
  <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/toastr.js/1.3.1/js/toastr.js' %>
  <%= javascript_include_tag 'angular/contacts' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="loading" ng-show="ajaxLoading.show()">Loading...</div>

<div class="container">
  <div class="row">
    <div class="span3" ng-controller="ContactsCtrl">
      <h1>{{ title }}</h1>
      <button class="btn" ng-click="new()">New Contact</button>
      <input type="text" ng-model="query.input" >
      <ul class="nav nav-tabs nav-stacked">
        <li ng-repeat="contact in contacts | filter:search | orderBy:'last_name'" ng-click="view(contact)">
          <a href="">{{contact.last_name}}, {{contact.first_name}}</a>
        </li>
      </ul>
    </div>
    <div class="span9" ng-view>
    </div>
  </div>
</div>

<script id="blankTemplate" type="text/ng-template">
  There aint nothing here
</script>

<script id="editTemplate" type="text/ng-template">
  <h1>{{props.title}}</h1>
  <label>First Name</label>
  <input type="text" name="first_name" ng-model="contact.first_name">
  <label>Last Name</label>
  <input type="text" name="last_name" ng-model="contact.last_name">
  <label>Type</label>
  <input type="text" name="contact_type" ng-model="contact.contact_type">
  <label>Age</label>
  <input type="text" name="age" ng-model="contact.age">
  <label>Active</label>
  <input type="checkbox" name="active" ng-model="contact.active">
  <hr>
  <button class="btn btn-primary" ng-click="save()">{{ props.saveBtnName }}</button>
  <a ng-href="#/{{ contact.id }}">Cancel</a>
</script>

<script id="viewTemplate" type="text/ng-template">
  <h4>{{contact.last_name}}, {{contact.first_name}}</h4>
  <p>Age: {{contact.age}}</p>
  <p>Type: {{contact.contact_type}}</p>
  <a ng-href='#/{{contact.id}}/edit'>Edit</a>
  <a href="" ng-click="delete()">Delete</a>
</script>

</body>
</html>