<!DOCTYPE html>
<html ng-app>
<head>
  <title>FrontendLib</title>
  <%= stylesheet_link_tag    'application', :media => 'all' %>

  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'angular' %>
  <%= javascript_include_tag 'angular-resource' %>
  <%= javascript_include_tag 'angular/index' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div>
contacts
</div>

</body>
</html>