<!DOCTYPE html>
<html>
<head>
    <title>FrontendLib</title>
    <%= stylesheet_link_tag    'application', :media => 'all' %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'handlebars-1.0.0-rc.4.js' %>
    <%= javascript_include_tag 'ember-1.0.0-rc.6' %>

    <%= csrf_meta_tags %>
</head>
<body>

<script type="text/x-handlebars" id="index">
</script>

<script type="text/javascript">
    var App = Ember.Application.create();

    var x = "";
</script>
</body>
</html>